body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1322px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1322px;
  height:1598px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1322px;
  height:1598px;
  font-size:16px;
}
#u1 {
  position:absolute;
  left:2px;
  top:791px;
  width:1318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:17px;
}
#u2 {
  position:absolute;
  left:244px;
  top:706px;
  width:55px;
  height:17px;
  font-size:16px;
}
#u3 {
  position:absolute;
  left:2px;
  top:0px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4 {
  position:absolute;
  left:247px;
  top:710px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4_ann {
  position:absolute;
  left:321px;
  top:706px;
  width:1px;
  height:1px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
}
#u6 {
  position:absolute;
  left:446px;
  top:799px;
  width:46px;
  height:25px;
  font-size:16px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8 {
  position:absolute;
  left:449px;
  top:804px;
  width:42px;
  height:19px;
  font-size:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
}
#u10 {
  position:absolute;
  left:714px;
  top:797px;
  width:58px;
  height:25px;
  font-size:16px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u12 {
  position:absolute;
  left:981px;
  top:803px;
  width:73px;
  height:25px;
  font-size:16px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14 {
  position:absolute;
  left:729px;
  top:804px;
  width:42px;
  height:19px;
  font-size:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u16 {
  position:absolute;
  left:1008px;
  top:805px;
  width:30px;
  height:30px;
  font-size:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:29px;
}
#u18 {
  position:absolute;
  left:739px;
  top:741px;
  width:54px;
  height:29px;
  font-size:16px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:29px;
}
#u20 {
  position:absolute;
  left:1019px;
  top:743px;
  width:54px;
  height:29px;
  font-size:16px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
}
#u22 {
  position:absolute;
  left:284px;
  top:752px;
  width:77px;
  height:17px;
  font-size:16px;
}
#u23 {
  position:absolute;
  left:2px;
  top:0px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u24 {
  position:absolute;
  left:282px;
  top:754px;
  width:184px;
  height:19px;
  font-size:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
}
#u26 {
  position:absolute;
  left:562px;
  top:749px;
  width:91px;
  height:16px;
  font-size:16px;
}
#u27 {
  position:absolute;
  left:2px;
  top:0px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u28 {
  position:absolute;
  left:562px;
  top:752px;
  width:184px;
  height:19px;
  font-size:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:19px;
}
#u30 {
  position:absolute;
  left:840px;
  top:752px;
  width:175px;
  height:19px;
  font-size:16px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u32 {
  position:absolute;
  left:840px;
  top:753px;
  width:185px;
  height:19px;
  font-size:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:552px;
  top:912px;
  width:212px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u35 {
  position:absolute;
  left:280px;
  top:916px;
  width:212px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u36 {
  position:absolute;
  left:831px;
  top:918px;
  width:212px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:47px;
}
#u37 {
  position:absolute;
  left:923px;
  top:28px;
  width:192px;
  height:47px;
}
#u38 {
  position:absolute;
  left:2px;
  top:16px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40 {
  position:absolute;
  left:709px;
  top:36px;
  width:59px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u41 {
  position:absolute;
  left:620px;
  top:36px;
  width:65px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
