body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1480px;
  height:1790px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1480px;
  height:1790px;
  font-size:16px;
}
#u1 {
  position:absolute;
  left:2px;
  top:887px;
  width:1476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
}
#u2 {
  position:absolute;
  left:273px;
  top:791px;
  width:62px;
  height:19px;
  font-size:16px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4 {
  position:absolute;
  left:277px;
  top:795px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:28px;
}
#u6 {
  position:absolute;
  left:500px;
  top:895px;
  width:51px;
  height:28px;
  font-size:16px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8 {
  position:absolute;
  left:503px;
  top:900px;
  width:42px;
  height:19px;
  font-size:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
}
#u10 {
  position:absolute;
  left:800px;
  top:893px;
  width:65px;
  height:28px;
  font-size:16px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:28px;
}
#u12 {
  position:absolute;
  left:1098px;
  top:899px;
  width:82px;
  height:28px;
  font-size:16px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14 {
  position:absolute;
  left:816px;
  top:900px;
  width:42px;
  height:19px;
  font-size:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u16 {
  position:absolute;
  left:1129px;
  top:901px;
  width:34px;
  height:34px;
  font-size:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:33px;
}
#u18 {
  position:absolute;
  left:828px;
  top:830px;
  width:61px;
  height:33px;
  font-size:16px;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:33px;
}
#u20 {
  position:absolute;
  left:1141px;
  top:832px;
  width:61px;
  height:33px;
  font-size:16px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:19px;
}
#u22 {
  position:absolute;
  left:318px;
  top:842px;
  width:86px;
  height:19px;
  font-size:16px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u24 {
  position:absolute;
  left:316px;
  top:844px;
  width:184px;
  height:19px;
  font-size:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
}
#u26 {
  position:absolute;
  left:629px;
  top:839px;
  width:102px;
  height:18px;
  font-size:16px;
}
#u27 {
  position:absolute;
  left:2px;
  top:1px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u28 {
  position:absolute;
  left:629px;
  top:842px;
  width:184px;
  height:19px;
  font-size:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:21px;
}
#u30 {
  position:absolute;
  left:941px;
  top:842px;
  width:196px;
  height:21px;
  font-size:16px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u32 {
  position:absolute;
  left:941px;
  top:843px;
  width:185px;
  height:19px;
  font-size:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:618px;
  top:1021px;
  width:237px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u35 {
  position:absolute;
  left:313px;
  top:1021px;
  width:237px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u36 {
  position:absolute;
  left:931px;
  top:1028px;
  width:237px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u37 {
  position:absolute;
  left:786px;
  top:44px;
  width:72px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
